body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.top {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  gap: 270px;
}

.header ul {
  justify-content: space-between;
  display: flex;
  padding-right: 100px;
  list-style: none;
}

ul li {
  padding-left: 25px;
}

li a {
  color: white;
  text-decoration: none;
}

.header img {
  display: flex;
  padding-left: 100px;
  height: 82px;
  width: 82px;
}

.subheader img {
  display: flex;
  padding: 0;
  margin: 0;
  height: 342px;
  width: 530px;
}

.subheader {
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.judul {
  max-width: 400px;
  flex-wrap: wrap;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  padding: 0;
  margin: 0;
  padding-bottom: 16px;
}

.subjudul {
  max-width: 400px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #e5e7eb;
  padding-bottom: 16px;
}

.bagiankiri {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.bagiankiri button {
  position: relative;
  background: #3882f6;
  padding: 2px 4px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #000;
  width: 120px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.bagiankiri button:hover {
  background: #2d6dcc;
  color: black;
}

.body {
  display: flex;
  flex-direction: column;
}

.information {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.information .judulkedua {
  font-size: 36px;
  font-weight: bolder;
}

.kumpulanbox {
  margin-right: 16px;
  margin-left: 16px;
  padding-top: 16px;
  padding-bottom: 48px;
  gap: 80px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.boxpertama, 
.boxkedua, 
.boxketiga, 
.boxkeempat {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.box1,
.box2,
.box3,
.box4 {
  padding: 80px;
  background-color: lightgray;
  border-radius: 10px;
  border: 5px solid #2d6dcc;
}

.pb1,
.pb2,
.pb3,
.pb4 {
  font-size: 16px;
  flex-wrap: wrap;
  max-width: 150px;
}
